<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463461666950-c8d0rnvum0au9uji74vkab6rqspvs3gu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463461666950-c8d0rnvum0au9uji74vkab6rqspvs3gu</string>
	<key>API_KEY</key>
	<string>AIzaSyA0iqPncmPfldrWzgRsg-CDo6TTJ16UAZU</string>
	<key>GCM_SENDER_ID</key>
	<string>463461666950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.project.SmartMetro</string>
	<key>PROJECT_ID</key>
	<string>smartmetro-6163d</string>
	<key>STORAGE_BUCKET</key>
	<string>smartmetro-6163d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463461666950:ios:70326e14a8b9604875c107</string>
</dict>
</plist>